@tailwind base;
@tailwind components;
@tailwind utilities;


.accordion svg.toggle[aria-expanded="true"] {
  transform: rotateZ(90deg);
}
.accordion-content[aria-expanded="true"] {
  max-height: 0px;
  transition: max-height 2s cubic-bezier(0, 1, 0, 1);
}
.accordion-content {
  overflow: hidden;
  max-height: 1000px;
  transition: max-height 2s ease-in-out;
}


.carousel {
  display: inline-flex;
  overflow-x: hidden;
/*  scroll snap is a great feature which will center the image on snap on touch screen devices  */
  scroll-snap-type: x mandatory;
/* all below will hide the scrollbar on all browsers.    */
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}