@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Butterfly+Kids&display=swap");

.kids-font {
  font-family: "Butterfly Kids", cursive;
}

.special {
  flex: 0 0 33.3333%;
}
.accordion svg.toggle[aria-expanded="true"] {
  transform: rotateZ(90deg);
}
.accordion-content[aria-expanded="true"] {
  max-height: 0px;
  transition: max-height 2s cubic-bezier(0, 1, 0, 1);
}
.accordion-content {
  overflow: hidden;
  max-height: 1000px;
  transition: max-height 2s ease-in-out;
}

.carousel {
  display: inline-flex;
  overflow-x: hidden;
  /*  scroll snap is a great feature which will center the image on snap on touch screen devices  */
  /* all below will hide the scrollbar on all browsers.    */
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.banner {
  background-image: url("../public/Metapod.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0;
}

.carousel-2 {
  overflow: hidden;
}

.inner {
  transition: transform 0.3s;
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  color: #fff;
}

.indicators > button {
  margin: 5px;
}

.indicators > button.active {
  background-color: green;
  color: #fff;
}
