@tailwind base;
@tailwind components;
@tailwind utilities;


.accordion svg.toggle[aria-expanded="true"] {
  transform: rotateZ(90deg);
}
.accordion-content[aria-expanded="true"] {
  max-height: 0px;
  transition: max-height 2s cubic-bezier(0, 1, 0, 1);
}
.accordion-content {
  overflow: hidden;
  max-height: 1000px;
  transition: max-height 2s ease-in-out;
}
